/* Header */

    .header{
        grid-area: header;
        height:fit-content;
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 110px;    
    }