.inicio{
    grid-area: contenido;   
    width: 100%;
    height:max-content;
}

.sorteos-container{
    background-color: #353132; 
    width: 100%;
}

.sugerencias{
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

.cumpleaños-container{
    align-self: center;
}