.sugerencias-container{
    background: #FFF;
}

.sugerencias-container h2{
    text-align: start;
    font-weight: bold;
}
.sugerencias-container button{
    background-color: #353132;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
}
.sugerencias-container textarea{
    border-radius: 12px;
    border: 1px solid #353132;
    width: 100%;
}
