*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
@media (min-width: 600px) {
    .App{
        display: grid;
        grid-template-areas: 'header nav nav nav'
                            'contenido contenido contenido contenido'
                            'footer footer footer footer';
        grid-template-rows: auto auto 40px;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        height: 100vh;
    }
}
@media (min-width: 1000px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.App{
    display: grid;
    grid-template-areas:'header header header header'
                        'contenido contenido contenido contenido'
                        'footer footer footer footer';
    grid-template-rows: auto auto 40px;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    height: 100vh;
}
.layout{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
.header{
    grid-area: header;
    height:fit-content;
}

/* NavBar*/
.ancor {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    padding: 8px 0px;
    transition: all 300ms;
}
.ancor:hover{
    transform: scale(0.9, 1.0);
    color: rgba(255, 255, 255, 0.75);
}
.ancor:focus{
    color: rgba(255, 255, 255, 0.75);
}
.ancor2 {
    z-index: 2;
    transition: all 300ms;
}
.ancor2:hover{
    transform: scale(0.9, 1.0);
}

/* Contenido */
.error404{
    grid-area: contenido;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;    
    width: 100%;   
}
.calendario{
    grid-area: contenido;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calendario-contenido{
    width: 90%;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
}
.noticia-item{
    flex-grow: 1;
    background: white;
    color: black;
    font-size: large;
    font-weight:bold;
    width: 35%;
}
.noticia-item img{
  width: 100%;
}
.noticia-item p{
    width: 90%;
}
.noticia{
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.noticia-container{
    background: white;
    color: black;
    font-size: large;
    font-weight:bold;
    padding: 0px 25px 0px 25px;
    width: 80%;
}
.noticia-container img{
    width: 100%;
}
.noticia-container div{
    width: 100%;
}
.ancor-noticia{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.ancor-noticia:hover{
    color: rgba(4, 4, 4, 0.642);
}
.inicio{
    grid-area: contenido;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}
.cumpleaños{
    width: 90%;
}
.allCarousel{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 100%;
}
.arrows{
    width: 85%;
    margin-top: 60px;
}
.carousel-item img{
    width: 90%;
    margin: auto;
    object-fit: cover;
    height: 400px;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 3%;
    padding: 0;
    text-align: center;
    background: white;
    opacity: 1;
    transition: all 300ms;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: black;
    width: 3rem;
    height: .5rem;
}
.cards{
    width: 90%;
}
.card{
    display: flex;
    flex-flow:nowrap;
    align-items: center;
    justify-content:center;
    margin: 0;
    padding: 10px;
}
.card img{
    width: 10rem;
    height: 10rem;
    padding: 0px;
    margin: 0px;
}
.card-body{
    width: 10rem;
    height: 10rem;
    padding: 0px;
    margin: 0px;
}
.bg{
    background-color: rgba(4, 4, 4, 0.642);
}
.error-mensaje{
    color: red;
    padding: 10px;
    border: none;
    border-radius: 10px 10px 10px 10px;
}
.mensaje{
    background-color: white;
    width: fit-content;
    padding: 2px;
    border: none;
    border-radius: 10px 10px 10px 10px;
}
.botones{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botenesB {
    background-color: black;
    color: white;
    width: 35%;
    border-radius: 10px 0px 10px 0px;
    border: none;
}
/* ERROR 404  */
.error404{
    height: 80vh;
}
/* Footer */
.footer{
    grid-area: footer;
}

/* Login */
.header-login {
    grid-area: header;
    width: 100%;
    height: 60px
}
.login{
    grid-area: contenido;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.error-login{
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.login form input{
    padding: 15px;
    margin-bottom: 10px;
    border: 0;
    background-color: rgb(199, 196, 196);
    opacity: 70%;
    color: black;
    font-weight: bold;
}

.login form input[type="submit"]{
    background-color: white;
    transition: all 300ms;
}
.login form input[type="submit"]:hover{
    background-color: black;
    color: white;
 }