@font-face {
  font-family: 'Gotham';
  src: url('/fonts/ggg-book.otf') format('opentype');
  /* Agrega otros atributos de fuente según sea necesario */
}
*{
    box-sizing: border-box;
    font-family: 'Gotham';
    font-size: 1rem;
}

/* LAYOUT */

    @media (min-width: 600px) {
        .App{
            display: grid;
            grid-template-areas: 'header nav nav nav'
                                'contenido contenido contenido contenido'
                                'footer footer footer footer';
            grid-template-rows: auto auto 40px;
            grid-template-columns: 0.5fr 1fr 1fr 1fr;
            height: 100vh;
        }
    }
    @media (min-width: 1000px) {
        .nav{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .App{
        display: grid;
        grid-template-areas:'header header header header'
                            'contenido contenido contenido contenido'
                            'footer footer footer footer';
        grid-template-rows: auto auto 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 100vh;
    }
    .layout{
        width: 100%;
        display: flex;
        flex-direction: column;
    }


/* ERROR 404  */

    .error404{
        height: 80vh;
        grid-area: contenido;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;    
        width: 100%;   
    }
    
/*
.allCarousel{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 100%;
}
.arrows{
    width: 85%;
    margin-top: 60px;
}
.carousel-item img{
    width: 90%;
    margin: auto;
    object-fit: cover;
    height: 400px;
} 

.arrows{
    width: 85%;
    margin-top: 60px;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 3%;
    padding: 0;
    text-align: center;
    background: white;
    opacity: 1;
    transition: all 300ms;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: black;
    width: 3rem;
    height: .5rem;
}
.cards{
    width: 90%;
}
.card{
    display: flex;
    flex-flow:nowrap;
    align-items: center;
    justify-content:center;
    margin: 0;
    padding: 10px;
}
.card img{
    width: 10rem;
    height: 10rem;
    padding: 0px;
    margin: 0px;
}
.card-body{
    width: 10rem;
    height: 10rem;
    padding: 0px;
    margin: 0px;
}
.bg{
    background-color: rgba(4, 4, 4, 0.642);
}
.error-mensaje{
    color: red;
    padding: 10px;
    border: none;
    border-radius: 10px 10px 10px 10px;
}
.mensaje{
    background-color: white;
    width: fit-content;
    padding: 2px;
    border: none;
    border-radius: 10px 10px 10px 10px;
}
.botones{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botenesB {
    background-color: black;
    color: white;
    width: 35%;
    border-radius: 10px 0px 10px 0px;
    border: none;
}
*/